:root {
    --icon-color: #111;
    --navbar-background-color: #fff
}

.darkTheme {
    --icon-color: #fff;
    --navbar-background-color: #060014;
}

.search-bar {
    width: 30%;
    background-color: var(--navbar-background-color);
    margin: 30px auto;
}

.search-bar input {
    width: 100%;
    outline: 0;
    padding: 10px 10px;
    border: 0;
    font-size: 17px;
}

.song-lists{
    background-color: var(--navbar-background-color);
    padding: 5px 20px;
    width: 90%;
    margin: 10px auto;
    color: var(--icon-color);
}
a {
    text-decoration: none;
}