:root {
  --body-background-color: #f1f1f1;
  --font-color: #111
}

.darkTheme {
  --body-background-color: #0c0126;
  --font-color: #fff
}

body {
  background-color: var(--body-background-color);
  color: var(--font-color)
}